/examples/mock-node-app/node_modules
docker-otel-lgtm/
/container
.env
/examples/mock-python-app/src/__pycache__
/dist_python/guardian_ai/guardian_ai/__pycache__
problematic.json
.DS_Store
*.onnx
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage
/frontend/dist
/frontend/build
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.webpack/
/frontend/.hot-update.json
/frontend/*.hot-update.js
/frontend/*.hot-update.json
/frontend/.cache/
/frontend/.env

